.password{
    text-align: center;
    border-style: solid;
    padding: 15px;
    margin-top: 90%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    border-color: #cf3c4f;
    font-size: small;
}

.divContent{
    padding: 5%;
    margin-top: 5%;
}