<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{username}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteProfileToast()">
        PROFİLİ KAPAT 
        <ion-icon slot="end" color="danger" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="showAddModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-list>
    <ion-item-sliding *ngFor="let item of passList">
      <ion-item (click)="showDecryptModal(item)">
        <ion-label>{{item.name}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteToast(item)">SİL</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
